<div id="board">
	<div class="square color1" id="a8"><img class="piece" src="{{a8url}}"><span class="row-label text-color2">8</span></div>
     <div class="square color2" id="b8"><img class="piece" src="{{b8url}}"></div>
	<div class="square color1" id="c8"><img class="piece" src="{{c8url}}"></div>
	<div class="square color2" id="d8"><img class="piece" src="{{d8url}}"></div>
	<div class="square color1" id="e8"><img class="piece" src="{{e8url}}"></div>
	<div class="square color2" id="f8"><img class="piece" src="{{f8url}}"></div>
	<div class="square color1" id="g8"><img class="piece" src="{{g8url}}"></div>
	<div class="square color2" id="h8"><img class="piece" src="{{h8url}}"></div>
		
	<div class="square color2" id="a7"><img class="piece" src="{{a7url}}"><span class="row-label text-color1">7</span></div>
	<div class="square color1" id="b7"><img class="piece" src="{{b7url}}"></div>
	<div class="square color2" id="c7"><img class="piece" src="{{c7url}}"></div>
	<div class="square color1" id="d7"><img class="piece" src="{{d7url}}"></div>
	<div class="square color2" id="e7"><img class="piece" src="{{e7url}}"></div>
	<div class="square color1" id="f7"><img class="piece" src="{{f7url}}"></div>
	<div class="square color2" id="g7"><img class="piece" src="{{g7url}}"></div>
     <div class="square color1" id="h7"><img class="piece" src="{{h7url}}"></div>
		
	<div class="square color1" id="a6"><img class="piece" src="{{a6url}}"><span class="row-label text-color2">6</span></div>
	<div class="square color2" id="b6"><img class="piece" src="{{b6url}}"></div>
	<div class="square color1" id="c6"><img class="piece" src="{{c6url}}"></div>
	<div class="square color2" id="d6"><img class="piece" src="{{d6url}}"></div>
	<div class="square color1" id="e6"><img class="piece" src="{{e6url}}"></div>
	<div class="square color2" id="f6"><img class="piece" src="{{f6url}}"></div>
	<div class="square color1" id="g6"><img class="piece" src="{{g6url}}"></div>
	<div class="square color2" id="h6"><img class="piece" src="{{h6url}}"></div>
		
	<div class="square color2" id="a5"><img class="piece" src="{{a5url}}"><span class="row-label text-color1">5</span></div>
	<div class="square color1" id="b5"><img class="piece" src="{{b5url}}"></div>
	<div class="square color2" id="c5"><img class="piece" src="{{c5url}}"></div>
	<div class="square color1" id="d5"><img class="piece" src="{{d5url}}"></div>
	<div class="square color2" id="e5"><img class="piece" src="{{e5url}}"></div>
	<div class="square color1" id="f5"><img class="piece" src="{{f5url}}"></div>
	<div class="square color2" id="g5"><img class="piece" src="{{g5url}}"></div>
	<div class="square color1" id="h5"><img class="piece" src="{{h5url}}"></div>
		
	<div class="square color1" id="a4"><img class="piece" src="{{a4url}}"><span class="row-label text-color2">4</span></div>
	<div class="square color2" id="b4"><img class="piece" src="{{b4url}}"></div>
	<div class="square color1" id="c4"><img class="piece" src="{{c4url}}"></div>
	<div class="square color2" id="d4"><img class="piece" src="{{d4url}}"></div>
	<div class="square color1" id="e4"><img class="piece" src="{{e4url}}"></div>
	<div class="square color2" id="f4"><img class="piece" src="{{f4url}}"></div>
	<div class="square color1" id="g4"><img class="piece" src="{{g4url}}"></div>
	<div class="square color2" id="h4"><img class="piece" src="{{h4url}}"></div>
		
	<div class="square color2" id="a3"><img class="piece" src="{{a3url}}"><span class="row-label text-color1">3</span></div>
	<div class="square color1" id="b3"><img class="piece" src="{{b3url}}"></div>
	<div class="square color2" id="c3"><img class="piece" src="{{c3url}}"></div>
	<div class="square color1" id="d3"><img class="piece" src="{{d3url}}"></div>
	<div class="square color2" id="e3"><img class="piece" src="{{e3url}}"></div>
	<div class="square color1" id="f3"><img class="piece" src="{{f3url}}"></div>
	<div class="square color2" id="g3"><img class="piece" src="{{g3url}}"></div>
	<div class="square color1" id="h3"><img class="piece" src="{{h3url}}"></div>
		
	<div class="square color1" id="a2"><img class="piece" src="{{a2url}}"><span class="row-label text-color2">2</span></div>
	<div class="square color2" id="b2"><img class="piece" src="{{b2url}}"></div>
     <div class="square color1" id="c2"><img class="piece" src="{{c2url}}"></div>
	<div class="square color2" id="d2"><img class="piece" src="{{d2url}}"></div>
	<div class="square color1" id="e2"><img class="piece" src="{{e2url}}"></div>
	<div class="square color2" id="f2"><img class="piece" src="{{f2url}}"></div>
	<div class="square color1" id="g2"><img class="piece" src="{{g2url}}"></div>
	<div class="square color2" id="h2"><img class="piece" src="{{h2url}}"></div>
		
	<div class="square color2" id="a1"><img class="piece" src="{{a1url}}"><span class="row-label text-color1">1</span><span class="col-label text-color1">a</span></div>
	<div class="square color1" id="b1"><img class="piece" src="{{b1url}}"><span class="col-label text-color2">b</span></div>
	<div class="square color2" id="c1"><img class="piece" src="{{c1url}}"><span class="col-label text-color1">c</span></div>
	<div class="square color1" id="d1"><img class="piece" src="{{d1url}}"><span class="col-label text-color2">d</span></div>
	<div class="square color2" id="e1"><img class="piece" src="{{e1url}}"><span class="col-label text-color1">e</span></div>
	<div class="square color1" id="f1"><img class="piece" src="{{f1url}}"><span class="col-label text-color2">f</span></div>
	<div class="square color2" id="g1"><img class="piece" src="{{g1url}}"><span class="col-label text-color1">g</span></div>
	<div class="square color1" id="h1"><img class="piece" src="{{h1url}}"><span class="col-label text-color2">h</span></div>
</div>